<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<style>

:root {
	--div-height: 100vh;
	--content-width: 800px;

}
body {
	margin: 0;
}
.container {
	display: grid;
  grid-template-columns: 1fr var(--content-width) 1fr;
}

.container > div {
	height: var(--div-height);
}

.left {
	grid-column-start: 1;
	background-color: red;
}

.right {
	 grid-column-start: 3;
	 background-color: red;
}

.center {
	 grid-column-start: 2;
	 background-color: blue;
	}
</style>

</head>
<body>
	<div class="container">
<div class="left">
</div>
<div class="center">
	</div>
	<div class="right">
	</div>
</div>
</body>
</html>