{{partial "header.html" .}}

<body>
    <div class="container">
        <header class="hgroup">
            <h1 class="title">{{ .Site.Title }}</h1>
            <h2 class="subtitle muted">A description</h2>
        </header>
        {{ range .Pages }}
        <article>
            <header class="hgroup">
                <h4 class="details muted">{{ partial "time.html" .Date }} &middot; {{.ReadingTime}} min read</h4>
                <a href="{{ .RelPermalink }}"><h2 class="title">{{ .Title }}</h2></a>
                {{ with .Params.subtitle }}<h3 class="subtitle muted">{{.}}</h3>{{end}}
            </header>
        </article>
        {{ end }}
    </div>
</body>

</html>