<!doctype html>
<html lang=en>

{{ partial "head.html" . }}

<body>
{{ partial "navbar.html" . }}
<main class="container">
  <header class="hgroup">
    <h1 class="title">{{ .Site.Title }}</h1>
    <h2 class="subtitle">Blog subtitle</h2>
  </header>
  {{ template "_internal/pagination.html" . }} {{ range .Paginator.Pages }}
  <article>
    <header class="hgroup">
      <h4 class="details">{{ partial "time.html" .Date }} &middot; {{.ReadingTime}} min read</h4>
      <h2 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      {{ with .Params.subtitle }}<h3 class="subtitle">{{.}}</h3>{{end}}
    </header>
  </article>
  {{ end }}
</main>
{{ partial "footer.html" . }}
</body>

</html>