@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Merriweather:400,700,400i|Source+Code+Pro');

body {
	font-family: 'Merriweather', serif;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

code {
	font-family: 'Source Code Pro', monospace;
	word-break: break-word;
}

section, article, aside, footer, header, nav {
  display: block;
}

p {
	line-height: 1.75;
}

pre {
	line-height: 1.5;
	overflow-x: auto;
}

.navbar {
	padding: 0.5em 0;
	background: pink;
}

.navbar span {
	font-family: 'Roboto', sans-serif;
	margin-right: 1em;
}

.container {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1em;
}

.hgroup {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}

.title {
	margin: 0.1em 0;
}

.subtitle {
	font-weight: normal;
	margin: 0 0;
}

h2.subtitle {
	font-size: 1.5em;
}

h3.subtitle {
	font-size: 1.25em;
}

.details {
	font-weight: normal;
	margin: 0 0;
}

.muted {
	opacity: 0.8;
}
