@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Roboto:400,400i,700');

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Merriweather', serif;
}

.subtitle {
	margin-top: -0.8em;
	font-size: 1.5em;
	opacity: 0.8;
}

.heading {
	margin-bottom: 1.25em;
}